body {
    margin: 0;
    padding: 0;
    background: url('images/images.jpg');
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25rem;
    padding: 2.5rem;
    box-sizing: border-box;
    border-radius: 0.625rem;
    background-color: rgba(9, 9, 7, 0.6); /* Black color with 60% opacity */
}

.box h2 {
    margin: 0 0 1.875rem;
    padding: 0;
    color: #0D0B09; /* Black for better readability */
    text-align: center;
}

.box .inputBox {
    position: relative;
}

.box .inputBox input {
    width: 100%;
    padding: 0.625rem 0;
    font-size: 1rem;
    color: #000; /* Black for better readability */
    letter-spacing: 0.062rem;
    margin-bottom: 1.875rem;
    border: none;
    border-bottom: 0.065rem solid #000; /* Black for better readability */
    outline: none;
    background: transparent;
}

.box .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.625rem 0;
    font-size: 1rem;
    color: #000; /* Black for better readability */
    pointer-events: none;
    transition: 0.5s;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label,
.box .inputBox input:not([value=""]) ~ label {
    top: -1.125rem;
    left: 0;
    color: #BABEC0;
    font-size: 0.75rem;
}

.box input[type="submit"] {
    border: none;
    outline: none;
    color: #fff;
    background-color: #03a9f4;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    border-radius: 0.312rem;
    font-size: 1rem;
}

.box input[type="submit"]:hover {
    background-color: #1cb1f5;
}

.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}
